/* You can add global styles to this file, and also import other style files */

nav a{
    padding: 10px 30px;
    text-decoration-color: none;
    margin-top: 10px;
    display: inline-block;
    background-color: cyan;
    border-radius: 4px;
    margin-right: 5px;
}
nav a:visited , a:link{
    color: blue;
}
nav a.hover{
    color: blueviolet;
    background-color: cadetblue;
}
nav a.active{
    color: coral;
}
